{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-screen-lg mx-auto">
    TODO Breadcrumbs
    <div class="flex flex-wrap">
        <div class="m-4 h-96">
            <img class="w-96 h-96 rounded-lg object-cover border border-gray-100" src="{{ item.image.url }}">

            {% if item.stock == 0 %}
                <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    <span class="inline-block bg-gray-500/75 text-white rounded-full p-2 text-lg font-bold mr-2">
                        SOLD OUT
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="w-1/2 my-4 ml-4 p-2 bg-white p-8 rounded-lg">
            <div class="text-2xl font-bold">
                {{ item.name }}
            </div>
            <div class="text-gray-400 mb-6">
                <span class="text-sm">Items Sold : {{ item.sold_count }}</span>
            </div>
            <div class="text-2xl font-semibold mb-6">
                {% if item.is_discounted %}
                    <span>Rp{{ item.discounted_price }}</span>
                    <span class="line-through text-gray-300 text-base font-normal">Rp{{ item.price }}</span>
                    <span class="inline-block bg-red-400 text-white rounded-full px-3 text-sm font-bold mr-2">
                        {{ item.get_discount_percentage }}
                    </span>
                {% else %}
                    <span>Rp{{ item.price }}</span>
                {% endif %}
            </div>
            <div class="">
                <form method="POST" class="">
                    {% csrf_token %}
                    <div class="flex flex-wrap inline-block align-bottom w-full h-fit m-auto">
                        <div class="pr-4 w-1/2">
                            {{ form.variation | as_crispy_field }}
                        </div>
                        <div class="pr-4 w-1/4">
                            {{ form.quantity | as_crispy_field }}
                        </div>
                        <div class="pt-7 w-1/4">
                            <button type='submit' class="px-2 py-2 cursor-pointer bg-transparent hover:bg-green-700 text-green-700 font-semibold hover:text-white border border-green-700 hover:border-transparent rounded-lg">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="my-2">
                <div class="relative flex pt-5 my-2 items-center">
                    <span class="text-lg font-semibold text-green-700">
                        Specifications
                    </span>
                    <hr class=" ml-4 flex-grow border-t"></hr>
                </div>
                <table class="table-auto ml-4">
                    <tr>
                        <td class="w-1/2 font-semibold">Type</td>
                        <td>: {{ item.type }}</td>
                    </tr>
                    <tr>
                        <td class="font-semibold">Category</td>
                        <td>: {{ item.category }}</td>
                    </tr>
                </table>
            </div>
            <div class="my-2">
                <div class="relative flex pt-5 my-2 items-center">
                    <span class="text-lg font-semibold text-green-700">
                        Description
                    </span>
                    <hr class=" ml-4 flex-grow border-t"></hr>
                </div>
                <div class="ml-4 text-justify">
                    <p>{{ item.description | linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}