{% extends "components/content_template.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content_title %}
Checkout
{% endblock content_title %}

{% block content_container %}
    TODO Payment stuffs
    <form method="POST">
        {% csrf_token %}
        {{ form.payment_method | as_crispy_field }}
        <button type='submit' class="block w-full px-4 py-2 border font-bold border-green-600 bg-green-600 text-white rounded-lg text-center hover:bg-transparent hover:text-green-600">
            Pay
        </button>
    </form>
{% endblock content_container %}