{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}{% endblock %} | Eien Tea Online Store</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-t from-green-100 to-white-500">
    {% include 'header.html' %}
    {% include 'navbar.html' %}

    <div class="min-h-screen">
        {% block container %}W
        {% endblock container %}
    </div>


    {% include 'footer.html' %}

    {% include 'scripts.html' %}
    {% block scripts %}
    {% endblock scripts %}

</body>
</html>