{% extends "components/content_template.html" %}
{% load static %}

{% block head_title %}
Addresses
{% endblock %}

{% block content_title %}
Your Addresses
{% endblock content_title %}

{% block content %}

<div class="flex flex-wrap my-6 bg-white p-8 rounded-lg h-fit border border-gray-200">
    {% if addresses.all.count > 0 %}
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="w-2/12">
                        Label
                    </th>
                    <th class="w-9/4">
                        Address
                    </th>
                    <th class="w-1/12">
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for address in addresses.all %}
                    <tr class="even:bg-white odd:bg-gray-100/50">
                        <td class="truncate p-4">
                            {{ address.label_name }}
                        </td>
                        <td class="">
                            {{ address.get_address }}
                        </td>
                        <td class="w-1/4 p-4 items-end text-end content-end">
                            <a href="#" class="text-gray-400 hover:text-green-500 pr-4">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                            <a href="{% url 'core:delete-address' address.id %}" class="text-gray-400 hover:text-red-500">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                        <hr>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="text-center text-gray-400">
            You have not registered any address
        </div>
    {% endif %}
</div>

{% endblock content %}
