{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="max-w-screen-lg mx-auto">
    <div class="flex flex-wrap justify-between pt-8 pl-8 mb-4 bg-white p-8 rounded-lg align-middle">
        <div class="text-3xl font-bold ">
            Addresses
        </div>
    </div>
<!--    #TODO USE BLOCKS!!!-->
    <div class="flex flex-wrap my-6 bg-white p-8 rounded-lg h-fit">
        <table class="w-full table-fixed">
            <tbody class="">
                <tr class="py-2">
                    <td>

                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}