{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
Log in
{% endblock %}

{% block content_title %}
Log in
{% endblock content_title %}


{% block content %}

<div class="w-1/2 mx-auto bg-white p-8 rounded-lg h-fit border border-gray-200">
    {% get_providers as socialaccount_providers %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.login | as_crispy_field }}
      {{ form.password | as_crispy_field }}

      <a class="text-sm text-green-600" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ request.GET.next }}" />

      <button class="w-full mt-4 block text-center block px-4 py-2 border text-green-600 border-green-600 font-semibold hover:bg-green-600 hover:text-white rounded-lg" type="submit">{% trans "Log in" %}</button>
    </form>
    <div class="text-center mt-2">
        Don't have an account?
        <a href="{% url 'account_signup' %}?next={{request.path}}" class="text-green-600 font-base">
            Register here!
        </a>
    </div>
</div>


{% endblock %}
