{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% load i18n %}
{% load account %}

{% block head_title %}
Reset Password
{% endblock %}

{% block content_title %}
Reset Password
{% endblock content_title %}


{% block content %}

<div class="w-1/2 mx-auto bg-white p-8 rounded-lg h-fit border border-gray-200">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-4">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="w-full mt-4 block text-center block px-4 py-2 border text-green-600 border-green-600 font-semibold hover:bg-green-600 hover:text-white rounded-lg" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
</div>
{% endblock %}
