{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% load i18n %}

{% block head_title %}
Change Password
{% endblock %}

{% block content_title %}
Change Password
{% endblock content_title %}

{% block content %}
<div class="w-1/2 mx-auto bg-white p-8 rounded-lg h-fit border border-gray-200">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
{% endblock %}
