{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% load i18n %}

{% block head_title %}
Register
{% endblock %}

{% block content_title %}
Register
{% endblock content_title %}


{% block content %}

<div class="w-1/2 mx-auto bg-white p-8 rounded-lg h-fit border border-gray-200">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ request.GET.next }}" />
        <button class="w-full mt-4 block text-center block px-4 py-2 border text-green-600 border-green-600 font-semibold hover:bg-green-600 hover:text-white rounded-lg" type="submit">Register</button>
    </form>
    <div class="text-center mt-2">
        Already have an account?
        <a href="{% url 'account_login' %}" class="text-green-600 font-base">
            Log in here!
        </a>
    </div>
</div>
{% endblock %}
