{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
Verify your E-mail Address
{% endblock %}

{% block content_title %}
Verify your E-mail Address
{% endblock content_title %}

{% block content %}
    <div class="w-1/2 mx-auto bg-white p-8 rounded-lg h-fit border border-gray-200">
        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder.{% endblocktrans %}</p>
    </div>
{% endblock %}
